@font-face {
    font-family: 'TT Norms Pro', sans-serif;
    src: url("https://fonts.cdnfonts.com/css/tt-norms-pro");
    font-weight: 600;
    font-style: normal; 
}

:root {
    --black: #1C1C1C;
    --white: #FFFFFF;
    --purple: #AE78F2;
    --bacground-gradient: ;
}

body {
    font-family: 'TT Norms Pro', sans-serif;
    /* background-image: url("/images/UI/bcg.png"); */
    background-color: var(--black);
    margin: 5%;
}

header {
    height: 220px;
    display: flex;
    background-color: var(--black);
}
header h1 {
    font-size: 60px;
}

header img {
    width: 20%;
}

h1 {
    font-size: 40px;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--purple);
}

p {
    font-size: 24px;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
}

form #doc_info {
    display: none;
}

img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-size: 24px;
    margin-bottom: 12px;
    background-color: var(--black);
    color: var(--white);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--white); 
    cursor: pointer; 
}

button:hover {
    color: var(--purple);
    border-bottom: 2px solid var(--purple); 
}

input[type="text"] {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--white);
    width: 100%;
    height: auto;
    padding: 6px;
    background-color: var(--black);
    outline: none;
    color: var(--white);
    margin-bottom: 10px;
    font-size: 24px;
}

input[type="text"]:hover {
    border-bottom: 2px solid var(--purple); /* Обводка с синим цветом */
}
