@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

:root {
    --White: #FFFFFF;
    --Black: #1C1C1C;
    --Purple: #AE78F2;
    --Gray: #888888;
}

body {
    display: block;
    flex-shrink: 0;
    gap: 20px 20px;
    /* border: 5px solid; */
    
    max-width: 390px;
    margin: 20px;

    text-align: center;

    margin-top: 400px;
    margin-bottom: 200px;
    margin-left: 30px;
    margin-right: 30px;

    color:var(--White);
    /* color: var(--tg-theme-text-color); */
    background: var(--Black);
    /* background: var(--tg-theme-bg-color); */
}



h1 {
    text-align: center;
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;

    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: fit-content;
}

button {
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 14px;

    width: fit-content;
    padding: 6px 20px;
    border-radius: 30px;
    border: 0px solid var(--Purple);

    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}
