@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

:root {
    --White: #FFFFFF;
    --Black: #1C1C1C;
    --Purple: #AE78F2;
    --Gray: #888888;
}

body {
    display: flex;
    font-family: 'TT Norms Pro', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    padding: 0;
    display: block;
    flex-shrink: 0;
    max-width: 390px;
    text-align: center;
    /* border: 1px solid var(--White); */
    color:var(--tg-theme-text-color);
    color: var(--White);
    background: var(--tg-theme-bg-color);
    background-color: var(--Black);
}

h1 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: fit-content;
    border: 0px;
}

button {
    font-size: 14px;
    width: fit-content;
    padding: 4px 14px;
    border-radius: 16px;
    background-color: var(--Black);
    border: 0px solid var(--White);
    color: var(--White);
}

button:hover {
    /* border: 1px solid var(--Purple); */
    color: var(--Purple);
}

form {
    margin-bottom: 10px;
}

form p {
    font-family: 'TT Norms Pro', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 8px;
}

input[type="text"] {
    width: 320px;
    font-size: 8px;
    font-weight: lighter;
    color: var(--White);
    background-color: var(--Black);
    padding: 4px;
    border: 0px outset;
    border-bottom: 2px solid var(--White);
    margin: 0px;
    margin-bottom: 16px;
}

input[type="text"]:focus {
    outline: none;
}
